extends layout

block content
	p Welcome to 
		a(href='https://github.com/jianghong/gifter') #{title}
	div#userform
		form(method='get', action='/top')
			label Twitter Username
			input(required type='text', placeholder='ex. github', name='username')
			input(type='submit', value='Submit')