extends ../layout

block content
	ul
		li
			a(href='/tweets/#{user}') Tweets
		li
			a(href='/top/#{user}') Top
		li
			a(href='/gift/#{user}') Gift

	h1 #{user} might like...

	h2 under construction